<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peaktime.dawntime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".Network.ApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyPage.LoginActivity" />
        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />

        <activity android:name=".Shop.ShopActivity" />
        <activity android:name=".Shop.ShopCategoryActivity" />
        <activity android:name=".Shop.ShopBrandActivity" />
        <activity android:name=".Shop.ShopDetailActivity" />
        <activity android:name=".Shop.ShopSearchActivity" />
        <activity android:name=".Community.CommunitySearchActivity" />
        <activity android:name=".Community.CommunityPopActivity" />
        <activity android:name=".MyPage.LockActivity" />
        <activity android:name=".MyPage.PasswordCheckActivity" />
        <activity android:name=".Shop.ShopToMainActivity" />
        <activity android:name=".Shop.ShopSearchResultActivity" />
        <activity android:name=".Community.CommunityWriteActicity" />
        <activity android:name=".Community.CommunityMsgActivity"></activity>
    </application>

</manifest>